* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  margin: 50px;
  padding: 30px;
}

#color-box {
  padding-top: 10px;
  width: 400px;
  height: 200px;
  background-color: green;
  border-radius: 10px;
  margin: 20px auto;
}

#change-color-btn {
  margin-top: 10px;
  background-color: orangered;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  cursor: pointer;

}

#change-color-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}
